* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #F0F0F0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21325E;
  color: #F0F0F0;
}

.logo-header img {
  display: block;
}

.nav-bar-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-bar-options li {
  margin: 0 1.2rem;
}
.nav-bar-options li:hover {
  cursor: pointer;
  color: #F1D00A;
}

footer {
  background-color: #3E497A;
  color: #F1D00A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  margin-bottom: 1rem;
}

.contact-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.contact-data a {
  font-size: 1rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
}

.contact-data a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #F1D00A;
}

.contact-data a:hover {
  color: #F0F0F0;
}

.footer-menu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 4rem;
}

.footer-menu-options li {
  padding: 0.3rem;
}

.footer-menu-options li:hover {
  color: #F0F0F0;
  cursor: pointer;
  font-weight: 500;
}

.social-links i {
  color: #F1D00A;
  cursor: pointer;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.social-icon-circle {
  margin: 0.3rem;
  width: 25px;
  height: 25px;
  border: 1px solid #F1D00A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.05rem;
}

.social-icon-circle:hover {
  border: 1px solid #F0F0F0;
}

.social-icon-circle i:hover {
  color: #F0F0F0;
}