* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #F0F0F0;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #3E497A;
  color: #F1D00A;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  margin-bottom: 1rem;
}
.contact-data-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.contact-data a{
  font-size: 1rem;
  margin-left: 0.5rem;
}
.contact-data a:link, a:visited, a:active {
  text-decoration:none;
  color: #F1D00A;
}
.contact-data a:hover {
  color: #F0F0F0;
}
.footer-menu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-menu-options li {
  padding: 0.3rem;
}
.footer-menu-options li:hover {
  color: #F0F0F0;
  cursor: pointer;
  font-weight: 500;
}
.social-links  i {
  color: #F1D00A;
  cursor: pointer;
}
.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon-circle {
  margin: 0.3rem;
  width: 25px;
  height: 25px;
  border: 1px solid #F1D00A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.05rem;
}
.social-icon-circle:hover {
  border: 1px solid #F0F0F0;
}
.social-icon-circle i:hover {
  color: #F0F0F0;
}